.roles-space {
    padding-bottom: 24px;
}

.roles-space-icons {
    padding-right: 16px;
}

.roles-action-icons {
    cursor: pointer;
}

.roles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}